* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

.home {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.about {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.home, .about {
    height: 90vh;
    position: absolute;
    width: 100%;
}

.home-content, .about-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
        height: 80%;
    }

    h1 {
        font-size: 50px;
        margin: 30px 0px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    p {
        font-size: 30px;
        font-family: 'Source Sans Pro', sans-serif;
    }
}